.r_rc {
  -moz-border-radius: 5px;
  border-radius: 5px;
} 
.r_rcc {
  -moz-border-radius: 15px;
  border-radius: 15px;
} 

.rr {
  font-family:Tahoma;
  font-size:9pt;
	text-align: right;
	
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.hhh {
visibility: hidden
}

.light {  cursor: pointer;opacity: 0.6; transition: opacity 350ms linear;}
.light:hover {opacity: 1.0; transition: opacity 250ms linear;}


/* Rup 1.0 */

.rupf {
    position:fixed;
    z-index: 1999;
    top:60px;
   right:-10px; 
    width: auto;
    height:auto;
   transition: right 450ms linear;
}
.rup {
    position:fixed;
    z-index: 1999;
    top:60px;
    right:-456px; 
    width: auto;
    height:auto;
   transition: right 450ms linear;
}
.oh {
    min-width: 30px;
    min-height: 73px;
    background-color: #000000;
    position:fixed;
    z-index: 2000;
    top:60px;
    right:-3px; 
    width: auto;
    height:auto;
    transition: right 450ms linear;
    font-family:Tahoma;
    font-size:14pt;
    text-align: center;
}